body{
  background: #ff5f6d; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff5f6d, #ffc371); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff5f6d, #ffc371); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

/*NAVBAR*/

.container-fluid{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}

#logo{
  color: white;
  font-size: 40px;
  font-family: 'Sedgwick Ave Display', cursive;
  letter-spacing: 2px;
}

.nav a{
  color: white;
  font-size: 20px;
} 

.active{
  border: 2px solid white;
}

/*INDEX PAGE*/

#index{
  /*height: 400px;*/
  margin: 0 auto;
  border: 8px solid white;
  width: 70%;
  box-shadow: -8px -8px white;
  border-radius: 10px;
  padding: 4%;
  text-align: center;
  color: white;
}

.index-header{
  font-size: 20px;
}

#index li{
  list-style: none;
  font-size: 15px;
}

#intended-users{
  padding-right: 6%;
}


/*ABOUT PAGE*/
#about{
  margin: 0 auto;
  border: 8px solid white;
  width: 60%;
  box-shadow: -8px -8px white;
  border-radius: 10px;
  padding: 4%;
  text-align: left;
  color: white;
}

/*FOOTER*/

.footer{
  height: 200px;
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: 100;
  margin-top: 10%;
  font-family: 'Merienda', cursive;
  font-weight: bold;
  color: #ff3333;
  font-size: 20px;
}


#contact-info{
  margin-left: 10%;
  margin-top: 2%;
}

#designed-by{
  text-align: center;
}

.social-media-icons{
  width: 500px;
  margin-top: 2%;
}

.social-media-icons img{
  margin-right: 5%;
  width: 30px;
}


/*FOUNDER PAGE*/
#team-bio-box{
  margin: 0 auto;
  border: 8px solid white;
  width: 80%;
  box-shadow: -8px -8px white;
  border-radius: 10px;
  padding: 4%;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.team-member-box{
  border: 0.5px solid white;
  margin: 10px;
  padding: 10px 5px;
  width: 300px;
  box-shadow: -4px -4px white;
  border-radius: 10px;
}

.team-member-box p{
  font-size: 12px;
}

.team-member-pic{
  max-width: 50%;
  margin-bottom: 2%;
}

.title, .name{
  font-weight: bold;
}


/*PRODUCTS*/
#yard{
  margin: 0 auto;
  border: 8px solid white;
  width: 70%;
  box-shadow: -8px -8px white;
  border-radius: 10px;
  padding: 4%;
  text-align: center;
  color: white;
}

#yard-heading {
  font-size: 30px ;
}

#yard-description{
  font-size: 20px;
}

.visit{
  font-size: 20px;
}


/*SUBSCRIPTION*/
#subscribe-container{
  margin: 0 auto;
  border: 8px solid white;
  width: 70%;
  box-shadow: -8px -8px white;
  border-radius: 10px;
  padding: 4%;
  text-align: center;
  color: white;
  font-size: 30px;
}

#subscribe-container a{
  color: white;
}




