body{
  height: 100%;
  margin: 0;
  display: block;
} 

/*LANDING*/
#landing-container{
  background-image: url("../images/organeyez-full-landing-page.jpg");
  background-size: cover;
  position: absolute;
  margin: 0 auto;
  display: block;
  top: 0;
  width: 100%;
  min-width: 980px;
  min-height: 100%;
  padding-top: 40%
}

#landing-button{
  font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  font-family: 'Merienda', cursive;
  border: 2px solid white;
  background-color: #e34840;
  position: absolute;
  left: 42%;
  top: 75%;
  width: 20%;
  min-width: 120px;
  height: 8%;
  min-height: 50px;
}

#landing-button a{
  color: white;
}

/*NAVBAR*/

.container-fluid{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}

#navbar-header{
  /*border: 2px solid black;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#logo-1{
  height: 100px;
}

#logo-2{
  height: 50px;
}

.nav a{
  color: black;
  font-size: 20px;
} 

.active{
  border: 1px solid black;
  background-color: #e6e6e6;
}

/*INDEX PAGE*/

#index{
  margin: 0 auto;
  max-width: 70%;
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
  color: black;
  display: block;
}

.index-header{
  font-size: 25px;
}

#index li{
  list-style: none;
  font-size: 20px;
}

#intended-users{
  padding-right: 6%;
}


.about{
  margin: 100px auto;
  width: 60%;
  padding: 2%;
  text-align: center;
  color: black;
  font-size: 20px;
}

#org-goals-img, #org-values-img{
  width: 100%;
  height: auto;
  margin: 4px auto;
}

#three-pillars{
  text-align: left;
}

#org-structure-img, #three-pillars-img, #expenses-comp-img{
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 4px auto;
}

.bullet-div{
  text-align: left;
  width: 70%;
  margin: 0 auto;
}

.caption{
  font-size: 16px;
}



/*FOOTER*/

.footer{
  background-color: #595959;
  font-family: 'Merienda', cursive;
  font-weight: bold;
  /*color: #ff3333;*/
  color: white;
  font-size: 20px;
  bottom: 0;
  position: scroll;
  width: 100%;
  padding: 1% 2%;
  margin-top: 10%;
}

.contact-info{
  margin-left: 10%;
  margin-top: 2%;
}

.designed-by{
  text-align: center;
}

.social-media-icons{
  width: 500px;
  margin-top: 2%;
}

.social-media-icons img{
  margin-right: 5%;
  width: 30px;
}


/*TEAM PAGE*/
#team-bio-box{
  margin: 0 auto;
  width: 80%;
  padding: 4%;
  text-align: center;
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.team-member-box{
  border: 0.5px solid grey;
  margin: 10px;
  padding: 10px 5px;
  width: 300px;
  box-shadow: -4px -4px #e34840;
  border-radius: 10px;
}

.team-member-box p{
  font-size: 12px;
}

.team-member-pic{
  max-width: 50%;
  margin-bottom: 2%;
}

.title, .name{
  font-weight: bold;
}


/*APPLICATIONS*/
#yard{
  margin: 0 auto;
  border: 2px solid grey;
  width: 70%;
  box-shadow: -8px -8px #e34840;
  border-radius: 10px;
  padding: 4%;
  text-align: center;
  color: black;
}

#yard-heading {
  font-size: 30px ;
}

#yard-description{
  font-size: 20px;
}



/*COMMUNITY*/
#community{
  margin: 0 auto;
  width: 70%;
  padding: 4%;
  text-align: center;
  color: black;
}

#community-heading {
  font-size: 30px ;
}

.community-description{
  font-size: 20px;
}


/*PODCAST*/
#podcast{
  margin: 0 auto;
  width: 70%;
  padding: 4%;
  text-align: center;
  color: black;
}

#podcast-heading {
  font-size: 30px ;
}

.podcast-description{
  font-size: 20px;
}

.visit{
  font-size: 20px;
}

#types-of-activists-img{
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 4px auto;
}

/*SUPPORT US && OPENINGS*/
#support-container, #openings-container{
  margin: 0 auto;
  width: 70%;
  padding: 4%;
  text-align: center;
  color: black;
  font-size: 30px;
}

#support-heading, #openings-heading {
  font-size: 30px ;
}

.support-description, .openings-description, .openings-list{
  font-size: 20px;
}

.support-description a{
  color: black;
}

.openings-list, .openings-description{
  text-align: left;
}




